/* categories */
.categories{
  color: $accent3;
  margin-top: 30vh;
  padding-top: 25px;
  text-align: center;

  p{
    max-width: 500px;
    margin: 10px auto;
    @media screen and (max-width: 700px){
      max-width: 80%;
    }
  }

  .change-category{
    background: $accent2;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: bold;
    border: 5px dotted $accent;
    border-radius: 25px;
    &:hover{
      animation: wiggle 1s;
    }
    @media screen and (max-width: 700px){
    margin-top: 30px;
    }
  }

  @keyframes wiggle {
    10%, 90% {transform: translate3d(-5px, 0, 0);}
    20%, 80% {transform: translate3d(5px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-5px, 0, 0);}
    40%, 60% {transform: translate3d(5px, 0, 0);}
  }
  
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 700px){
      // height: 40vh;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
    }
  }
  
  .category{
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    @media screen and (max-width: 700px){
      width: 100%;
      margin: 1% 0;
      height: 100px;
    }
  }

  button {
    background: $secondary;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background:
    radial-gradient(circle at 0% 100%, transparent 15%, darken($accent2,10%) 15%) no-repeat, radial-gradient(circle at 100% 0%, transparent 15%, darken($accent2,10%) 15%) no-repeat, radial-gradient(circle at 0% 0%, transparent 15%, darken($accent2,10%) 15%) no-repeat, radial-gradient(circle at 100% 100%, transparent 15%, darken($accent2,10%) 15%) no-repeat;
    background-position: 0% 100%, 100% 0%, 0% 0%, 100% 100%;
    background-size: 75% 75%;
    p{
      color: $accent3;
      text-align: center;
      word-wrap: break-word
    }
    @media screen and (max-width: 700px){
      margin: 0 auto;
      height: 100px;
      width: 200px;
    }
  }
}